body {
    text-align:center;
}

.mainR {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
    line-height: 1.45;
}
label {
    font-size: 13px;
    font-weight: 600;
}

input {
    background-color: #fafafa;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.12);
    box-shadow: none;
    box-sizing: border-box;
    margin: 0 0 4px;
    max-width: 100%;
    padding: 8px;
    width: 100%;
}
    input:focus {
        background-color: #fff;
        border-color: #1f24cc;
        box-shadow: none;
        outline: 0;
    }

.input-group {
    width:100%;
}

select{
    max-width: none;
}