@model IEnumerable<FYPMustafa.Models.MenuItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link href="~/Content/cMenu.css" rel="stylesheet" />
<div class="container" style="padding-bottom:100px;">
    <h2 style="text-align:center;">Menu Items</h2>
    <hr />

    <div class="row" style="text-align:center;">
        @foreach (var item in Model)
        {
           
        <figure class="snip1573">
            <h2 style="color:white; margin-top:10px !important;">@item.Name</h2>
            <img class="card-img-top" src='@Url.Action("MenuItems", "Images", new { id = item.ImagePath })' alt="Menu Image">
            <figcaption>
                <h3>View Item</h3>
            </figcaption>
            <a href="@Url.Action("ItemDetail","CustomerMenu", new { id = item.ItemID })"></a>
            <h4 style="">RM @item.Price</h4>
        </figure>
        }
    </div>

</div>



